menu "PCF8574"

config BSP_USING_I2C_PCF8574
    bool "Using PCF8574"
    select RT_USING_I2C
    default n
    if BSP_USING_I2C_PCF8574
        config BSP_I2C_PCF8574_BUS
            string "Set PCF8574 i2c bus name"
            default i2c0

        config BSP_I2C_PCF8574_DEV
            string "Set PCF8574 device name"
            default pcf8574

        config BSP_I2C_PCF8574_ADDRESS
            int "Set PCF8574 device address"
            default 0x27
    endif

endmenu
